/******************************************************************************************
 *  This script is Copyright John Franklin for all content as at 1st February 2017.  © John Franklin 2017.
 *  The Third Age Trust is permitted to use and modify the script according to the terms of the
 *  Software Licence Agreement dated 7th February 2017.
 *  This copyright notice must be retained.
 *****************************************************************************************/

html {
  background: url(light.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
a {
    text-decoration: none;
    color: #0000FF;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
td {
    vertical-align: middle;
}
.listheaderbold {
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
}
.listheader {
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-style: italic;
}
.sans {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
.sans10 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}
.sans12 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.sans13red {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #FF0000;
}
.sans16 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.sansblue10 {   /* no longer blue */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #544363;
/*	color: #0000FF;*/
}
.yellowback {
    background-color: #FFFFC6;
}
.greyback {
    background-color: #E7E7E7;
}
.orangeback {
    background-color: #FF9900;
}
.whiteback {
    background-color: #ffffff;
}
.plainarial {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    margin-top: 0px;
}
.transparent {
    background-color: transparent;
}
.redbold {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #FF0000;
}
.redtext {
    font-family: Arial, Helvetica, sans-serif;
    color: #FF0000;
}
.greentext {
    font-family: Arial, Helvetica, sans-serif;
    color: #009900;
}
.greytext {
    font-family: Arial, Helvetica, sans-serif;
    color: #a7a7a7;
}
.yellowtext {
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFC6;
}
.blue {
    color: #0000FF;
}
.strong {
    font-weight: bold;
}
.italic {
    font-style: italic;
}
.centre {
    text-align: center;
}
.center {
    text-align: center;
}
.right {
    text-align: right;
}
.left {
    text-align: left;
}
.middle {
    vertical-align: middle;
}
.top {
    vertical-align: top;
}
.topPadded {
    vertical-align: top;
    padding-top: 10px;
}
.baseline {
    vertical-align: baseline;
}
.rowheight {
    line-height: 25px;
    height: 25px;
    padding: 0;
    margin: 0;
    border-width: 0;
}
.hide {
    display: none;
}
.ulindent {
    padding-left: 20px;
}
.tableJoin {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-left: auto;      /* centres table */
    margin-right: auto;
}
.tableMain {
    background-color: #ffffc6;
/*	background-image: radial-gradient(#ffffc6,#f06d06);*/
    background-image: radial-gradient(#ffffc6,#f7ae56);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-left: auto;      /* centres table */
    margin-right: auto;
}
.tableTransparent {
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-left: auto;      /* centres table */
    margin-right: auto;
}
.tableAux {
    background-color: #e7e7e7;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
}
.tablegreyleft {
    /* left aligned */
    background-color: #e7e7e7;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.tableLeft {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-left: 0;
}
.tableFind {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    border: 2px solid red;
    margin-left: auto;
    margin-right: auto;
}
.tableClear {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-left: auto;      /* centres table */
    margin-right: auto;
}
.tableBanded {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-left: auto;      /* centres table */
    margin-right: auto;
}
.spreadRows {
    height: 20px;
}
.noborders {
    border-collapse: collapse;
}
.u3aHeaderTable {
    margin-left: auto;
    margin-right: auto;
}
.u3aHeader {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    vertical-align: middle;
    height: 100px;
    line-height: 100px;
    text-align: center;
    margin-top: 0;
    padding-top: 0;
    border-top: 0;
}
.divider {
    width: 1px;
    background-color: #f7f7f7;
}
.sectionBand {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-left: auto;      /* centres table */
    margin-right: auto;
    background-color: #00539b;
    color: white;
    font-weight: bold;
    text-align: center;
}
.sectionBand2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-left: auto;      /* centres table */
    margin-right: auto;
    color: black;
    font-weight: normal;
    text-align: center;
    background-color: #bac6ef;
    background-image: radial-gradient(#bac6ef,#6fafdf);
}
.close {
    padding: 0;
    margin: 0;
    border-width: 0;
}
.highlightField {
    border: 2px solid red;
}
.allwidth {
    width: 100%
}
.web_dialog_overlay         /* modal dialog */
{
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   height: 100%;
   width: 100%;
   margin: 0;
   padding: 0;
   background: #000000;
   opacity: .15;
   filter: alpha(opacity=15);
   -moz-opacity: .15;
   z-index: 101;
   display: none;
}
.web_dialog                 /* modal dialog */
{
   display: none;
   position: fixed;
   width: 800px;
   height: 200px;
   top: 50%;
   left: 40%;
   margin-left: -190px;
   margin-top: -100px;
   background-color: #ffffc6;
   border: 2px solid #336699;
   padding: 0px;
   z-index: 102;
   font-family: Verdana;
   font-size: 10pt;
}
.ui-spinner {       /* spin control */
    background: #ffffff;
    color: #000000;
}

.flash-message {
    border: 2px solid;
    padding: .5rem .5rem;
    margin: 0 auto;
    width: 30%;
    margin-bottom: 5px;
    box-sizing: border-box;
}

.flash-message.white {
    border-color: #ffffff;
    background-color: #ffffff;
}

.flash-message.red-text {
    color: red;
}

.flash-message.yellow {
    border-color: #ffff99;
    background-color: #ffff99;
    color: #775b39;
}

.flash-message.red {
    border-color: #ebcccc;
    background-color: #f2dede;
    color: #A94442;
}

.flash-message.green {
    border-color: #d0e9c6;
    background-color: #dff0d8;
    color: #3c763d;
}

div.pagination {
    display: block;
    text-align: center;
    margin: 10px 0;
}

ul.pagination {
    font-size: 0;
    list-style: outside none;
    margin: 5px auto;
    padding: 0;
}

ul.pagination li {
    background: #ccc;
    border: 1px #ddd solid;
    display: inline;
    display: inline-block;
    font: 16px/1 arial;
    list-style: outside none;
    padding: 6px;
}

ul.pagination a {
    color: #0000cc;
    text-decoration: none;
}

ul.pagination span {
    color: #f58400;
    text-decoration: underline;
}
.ui_tpicker_unit_hide {
    display:none;
}

.gift-aid-renewal-message {
    text-align: center;
}

.gift-aid-renewal-message p {
    width: 800px;
    margin: 0 auto;
}

.gift-aid-renewal-message p span {
    display: block;
    margin-bottom: 10px;
}

.field-icon {
    float: right;
    margin-left: -20px;
    margin-top: 6px;
    z-index: 2;
    position: absolute;
}

.password-field {
    position: relative;
    padding-right: 25px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
    width: 100%;
}

.password-field-login {
    width: calc(100% - 23px);
}

.password-field::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* Needed to remove edge built-in show/hide password functionality */
::-ms-reveal {
    display: none;
}

td.flex {
    display: flex;
    align-items: center;
}

td.flex .align-right {
    margin-left: auto;
}

/* Remove jQuery darkness ui theme shadow */
.ui-widget-shadow {
	-webkit-box-shadow: none;
	box-shadow: none;
}

/* Fixes for including jQuery ui theme "start" when the rest of the site uses the "darkness" theme */
.jquery-ui-theme-start.ui-widget-content {
    background: rgba(255, 255, 255, 0) url(images/ui-bg_inset-hard_100_fcfdfd_1x100.png) 50% bottom repeat-x;
    color: #fff;
}
.jquery-ui-theme-start.ui-dialog {
    padding: 0;
}
.jquery-ui-theme-start.ui-dialog .ui-dialog-buttonpane {
    margin-top: 0;
}

/* This is required to hide the 'no file chosen' wording on the send email 'choose file' control */
.file-hidden-text { font-size: 0; }
::file-selector-button { font-size: 14px; }

.token-list {
    list-style-type: none !important;
    padding-left: 10px !important;
}

.token-list li p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

.token-list li a {
    margin-right: 10px;
}

.red-strike {
    color: red;
    text-decoration: line-through;
}

.loader {
    font-size: 10px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    animation: mulShdSpin 1.1s infinite ease;
    transform: translateZ(0);
}
@keyframes mulShdSpin {
    0%,
    100% {
        box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.5), -1.8em -1.8em 0 0em rgba(255,255,255, 0.7);
    }
    12.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.5);
    }
    25% {
        box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.5), 1.8em -1.8em 0 0em rgba(255,255,255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
    }
    37.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.5), 2.5em 0em 0 0em rgba(255,255,255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
    }
    50% {
        box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.5), 1.75em 1.75em 0 0em rgba(255,255,255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
    }
    62.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.5), 0em 2.5em 0 0em rgba(255,255,255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
    }
    75% {
        box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.5), -1.8em 1.8em 0 0em rgba(255,255,255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
    }
    87.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.5), -2.6em 0em 0 0em rgba(255,255,255, 0.7), -1.8em -1.8em 0 0em #ffffff;
    }
}

.white-space_pre-wrap {
    white-space: pre-wrap;
}

.sort-handle.sort-active.sort-desc::after {
    content: '\25BC';
    display: inline-block;
    margin-left: 2px;
    font-size: 13px;
}
.sort-handle.sort-active.sort-asc::after {
    content: '\25B2';
    display: inline-block;
    margin-left: 2px;
    font-size: 13px;
}

.container {
    max-width: 850px;
    margin-inline: auto;
}

/* Select2 styling */
.select2-container {
    min-width: 197px;
}
.select2-results__options {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.select2-selection__rendered {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000 !important;
    line-height: 24px !important;
}
.select2-container .select2-selection--single {
    height: 24px !important;
}
.select2-selection__arrow {
    height: 24px !important;
}

/* Refunds */
.table-refund-categories td {
    padding-bottom: 4px;
}
.table-refund-categories td:not(:last-child) {
    padding-right: 10px;
}
